[submodule "arch-ros-stacks"]
	path = arch-ros-stacks
	url = https://github.com/bchretien/arch-ros-stacks
[submodule "rofi"]
	path = rofi
	url = ssh://aur@aur4.archlinux.org/rofi.git
[submodule "cuda-z"]
	path = cuda-z
	url = ssh+git://aur@aur4.archlinux.org:22/cuda-z.git/
[submodule "eigen3-hg"]
	path = eigen3-hg
	url = ssh+git://aur@aur4.archlinux.org:22/eigen3-hg.git/
[submodule "rofi-git"]
	path = rofi-git
	url = ssh+git://aur@aur4.archlinux.org:22/rofi-git.git/
[submodule "screenkey"]
	path = screenkey
	url = ssh+git://aur@aur4.archlinux.org:22/screenkey.git/
[submodule "screenkey-git"]
	path = screenkey-git
	url = ssh+git://aur@aur4.archlinux.org:22/screenkey-git.git/
[submodule "gazebo"]
	path = gazebo
	url = ssh+git://aur@aur4.archlinux.org:22/gazebo.git/
[submodule "sdformat"]
	path = sdformat
	url = ssh+git://aur@aur4.archlinux.org:22/sdformat.git/
[submodule "pagmo-git"]
	path = pagmo-git
	url = ssh+git://aur@aur4.archlinux.org:22/pagmo-git.git/
[submodule "urdfdom-headers"]
	path = urdfdom-headers
	url = ssh+git://aur@aur4.archlinux.org:22/urdfdom-headers.git/
[submodule "sddm-futuristic-theme"]
	path = sddm-futuristic-theme
	url = ssh+git://aur@aur4.archlinux.org:22/sddm-futuristic-theme.git/
[submodule "urdfdom"]
	path = urdfdom
	url = ssh+git://aur@aur4.archlinux.org:22/urdfdom.git
[submodule "simbody"]
	path = simbody
	url = ssh+git://aur@aur4.archlinux.org:22/simbody.git
[submodule "libmocap-git"]
	path = libmocap-git
	url = ssh+git://aur@aur4.archlinux.org:22/libmocap-git.git
[submodule "roboptim-core"]
	path = roboptim-core
	url = ssh+git://aur@aur4.archlinux.org:22/roboptim-core.git
[submodule "cppclean"]
	path = cppclean
	url = ssh+git://aur@aur4.archlinux.org:22/cppclean.git
[submodule "roboptim-core-git"]
	path = roboptim-core-git
	url = ssh+git://aur@aur4.archlinux.org:22/roboptim-core-git.git
[submodule "roboptim-core-plugin-ipopt-git"]
	path = roboptim-core-plugin-ipopt-git
	url = ssh+git://aur@aur4.archlinux.org:22/roboptim-core-plugin-ipopt-git.git
[submodule "roboptim-core-plugin-nlopt-git"]
	path = roboptim-core-plugin-nlopt-git
	url = ssh+git://aur@aur4.archlinux.org:22/roboptim-core-plugin-nlopt-git.git
[submodule "roboptim-core-plugin-eigen-git"]
	path = roboptim-core-plugin-eigen-git
	url = ssh+git://aur@aur4.archlinux.org:22/roboptim-core-plugin-eigen-git.git
[submodule "roboptim-core-plugin-cminpack-git"]
	path = roboptim-core-plugin-cminpack-git
	url = ssh+git://aur@aur4.archlinux.org:22/roboptim-core-plugin-cminpack-git.git
[submodule "roboptim-core-python-git"]
	path = roboptim-core-python-git
	url = ssh+git://aur@aur4.archlinux.org:22/roboptim-core-python-git.git
[submodule "roboptim-trajectory-git"]
	path = roboptim-trajectory-git
	url = ssh+git://aur@aur4.archlinux.org:22/roboptim-trajectory-git.git
[submodule "sensorkinect"]
	path = sensorkinect
	url = ssh+git://aur@aur4.archlinux.org:22/sensorkinect.git
[submodule "choreonoid"]
	path = choreonoid
	url = ssh+git://aur@aur4.archlinux.org:22/choreonoid.git
[submodule "spacevecalg-git"]
	path = spacevecalg-git
	url = ssh+git://aur@aur4.archlinux.org:22/spacevecalg-git.git
