[submodule "arch-ros-stacks"]
	path = arch-ros-stacks
	url = https://github.com/bchretien/arch-ros-stacks
[submodule "rofi"]
	path = rofi
	url = ssh://aur@aur4.archlinux.org/rofi.git
[submodule "cuda-z"]
	path = cuda-z
	url = ssh+git://aur@aur4.archlinux.org:22/cuda-z.git/
[submodule "eigen3-hg"]
	path = eigen3-hg
	url = ssh+git://aur@aur4.archlinux.org:22/eigen3-hg.git/
[submodule "rofi-git"]
	path = rofi-git
	url = ssh+git://aur@aur4.archlinux.org:22/rofi-git.git/
[submodule "screenkey"]
	path = screenkey
	url = ssh+git://aur@aur4.archlinux.org:22/screenkey.git/
[submodule "screenkey-git"]
	path = screenkey-git
	url = ssh+git://aur@aur4.archlinux.org:22/screenkey-git.git/
